!Xft
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
!rofi
rofi.color-enabled: true
rofi.color-normal: #383838,#a0a0a0,#383838,#a0a0a0,#383838
rofi.color-urgent: #383838,#a0a0a0,#a0a0a0,#a0a0a0,#383838
rofi.color-active: #383838,#a0a0a0,#a0a0a0,#a0a0a0,#383838
rofi.color-window: #383838,#a0a0a0
rofi.separator-style: solid
